<form method="post" action="{{ path('ecole_delete', {'id': ecole.id}) }}" onsubmit="return confirm('Suppresion de l'école ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ecole.id) }}">
    <button class="btn btn-outline-warning">Supprimer</button>
</form>
