{% extends 'base.html.twig' %}

{% block title %}Edit Ecole{% endblock %}

{% block body %}
    <h1 class="text-center m-2 p-2">Modifier l'école</h1>

    {{ include('ecole/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('ecole_index') }}" class="text-warning">Retour à la liste</a>

    {{ include('ecole/_delete_form.html.twig') }}
{% endblock %}
